<header class="bar bar-nav">
	{{#link-to 'index' classNames="icon icon-left-nav pull-left"}}{{/link-to}}
	<h1 class="title">About</h1>
</header>

<div class="content about">
	<div class="card">
		<div class="content-padded">
			<h1 class="wordmark">around</h1>
			<p>around is an anonymous, realtime, location-based messaging app that connects you with people nearby. around was built during the 2014 <a href="http://geauxhack.com/">GeauxHack</a> hackathon by <a href="http://www.linkedin.com/pub/michael-alford/95/a14/a12">Michael Alford</a> and <a href="http://dstaley.com">Dylan Staley</a>, and was awarded third place.</p>
			<h3>Technology</h3>
			<p>around is built using <a href="http://emberjs.com/">Ember.js</a>, <a href="https://www.firebase.com/">Firebase</a>, and <a href="http://goratchet.com/">Ratchet</a>. You can view the code on <a href="https://github.com/dstaley/around">GitHub</a>.</p>
			<h3>Something's not working!</h3>
			<p>If you can't get past the "Waiting for location..." screen, please ensure that you have location services enabled and that you've given around permission to access your location. For more information, please see the following links:</p>
			<ul>
				<li><a href="https://support.google.com/chrome/answer/2710173?hl=en">Chrome for Android</a></li>
				<li><a href="http://support.apple.com/kb/HT5594">Safari for iOS 7</a></li>
				<li><a href="http://www.windowsphone.com/en-us/how-to/wp8/apps/location-awareness-and-my-phone">Windows Phone 8</a></li>
			</ul>
			<p>For any other issues, please {{#link-to 'room' 'help-me'}}let us know{{/link-to}}.</p>
		<div>
	</div>
</div>