<header class="bar bar-nav">
  {{#link-to 'index' classNames="icon icon-left-nav pull-left"}}{{/link-to}}
  <h1 class="title">New Room</h1>
</header>

<div class="content">
  <div class="card create-room">
    <form class="input-group">
      <div class="input-row">
        <label>Name</label>
        {{input type="text" placeholder="#geauxhack" value=name}}
      </div>
      <div class="input-row">
        <label>Radius</label>
        {{input type="range" value=radius min=10 max=3000 step=10}}
      </div>
    </form>
    {{#if geolocationService.hasLocation}}
    {{google-map radius=radius lat=geolocationService.location.coords.latitude lon=geolocationService.location.coords.longitude}}
    {{/if}}
  <button class="btn btn-positive btn-block" {{action 'createRoom'}}>Create</button>
  </div>
</div>
