<header class="bar bar-nav">
	  {{#link-to 'index' classNames="icon icon-bars pull-left"}}{{/link-to}}
	  <h1 class="title">You</h1>
	</header>

	<div class="content">
	  <div class="user-info">
	  	{{#if firebaseAuthService.authed}}{{gravatar-image size="100" gravatarId=firebaseAuthService.currentUser.md5}}
	  	<div class="card">
	  	{{#if geolocationService.lat}}{{google-map radius=0 lat=geolocationService.lat lon=geolocationService.lon zoom=18}}{{/if}}
	  	<button class="btn btn-negative btn-block" {{action 'logout'}}>Logout</button></div>{{/if}}
	  </div>
	</div>